include templates/header

h1 Perilous Tables
.grid-container
  .box
    header.box__header
      .box__title-card
        .l-flexbox
          .l-flexitem
            h2.box__title.box__title--highlight Generate
            h3.box__sub-title 
          .l-flexitem.l-flexitem--end-cap
            .box__title-btn
              input.icon(
                type="image"
                alt="dice"
                src="svg/dice.svg"
                id="roll-btn"
              )
    .box__content
      ul.btn-list#opt-list
        li 
          input.btn.btn--selected(
            type="button"
            value="Generate Dungeon"
            id="gen-dun"
          )
        li 
          input.btn(
            type="button"
            value="Generate NPC"
            id="gen-npc"
          )
        li 
          input.btn(
            type="button"
            value="Generate Creature"
            id="gen-cre"
          )
        li 
          input.btn(
            type="button"
            value="Press On Into The Unknown"
            id="gen-unk"
          )
  .grid-section-divider#dungeon-div
    .l-flexbox
      h1.l-flexitem.grid-section-divider__header Dungeon
      
    