include templates/header

h1 Perilous Tables
.grid-container
  #dungeon.box.box--tall
    h2 Generate Dungeon
    footer.box__footer
      .list-container
        ul.btn-list.btn-list--inline.btn-list--radio
          li
            input.btn(
              type="button"
              value="Small"
            )
          li
            input.btn.btn--selected(
              type="button"
              value="Medium"
            )
          li
            input.btn(
              type="button"
              value="Large"
            )
          li
            input.btn(
              type="button"
              value="Huge"
            )
          li
            input.btn(
              type="button"
              value="Random"
            )
      input.btn.btn--end-cap(
        type="button"
        value="Generate"
      )
  .box.box--tall
    .box__header
      .box__title
        h2.box__header Builder
        h3.box__sub-title Who built it?
      .box__title-btn
        input.icon(
          type="image"
          alt="dice"
          src="svg/dice.svg"
        )
    .box__content
      .box__result
        p Dwarves
  .box
    .box__header
      .box__title-card
        h2.box__title Function
        h3.box__sub-title For what purpose was it built?
      .box__title-btn
        input.icon(
          type="image"
          alt="dice"
          src="svg/dice.svg"
        )
  .box
    .box__header
      .box__title
        h2.box__header Ruination
        h3.box__sub-title How did it come to ruin?  
      .box__title-btn
        input.icon(
          type="image"
          alt="dice"
          src="svg/dice.svg"
        )
    