include templates/header

h1 Perilous Tables
.grid-container
  #dungeon.box
    h2 Generate Dungeon
    footer.box__footer
      .list-container
        ul.btn-list.btn-list--inline.btn-list--radio
          li
            input.btn(
              type="button"
              value="Small"
            )
          li
            input.btn.btn--selected(
              type="button"
              value="Medium"
            )
          li
            input.btn(
              type="button"
              value="Large"
            )
          li
            input.btn(
              type="button"
              value="Huge"
            )
          li
            input.btn(
              type="button"
              value="Random"
            )
      input.btn.btn--end-cap(
        type="button"
        value="Generate"
      )
  .box
    .box__flex-row
      .box__flex-col
        h2.box__header Builder
        h3.box__subheader Who built it?
      .box__flex-col.box__flex-col--end-group
        input.icon(
          type="image"
          alt="dice"
          src="svg/dice.svg"
        )
  .box
    .box__flex-row
      .box__flex-col
        h2.box__header Function
        h3.box__subheader For what purpose was it built?
      .box__flex-col.box__flex-col--end-group
        input.icon(
          type="image"
          alt="dice"
          src="svg/dice.svg"
        )
  .box
    .box__flex-row
      .box__flex-col
        h2.box__header Ruination
        h3.box__subheader How did it come to ruin?  
      .box__flex-col.box__flex-col--end-group
        input.icon(
          type="image"
          alt="dice"
          src="svg/dice.svg"
        )
    