include templates/header

#container
  h1 Perilous Tables
  .btn-group
    input.btn(
        type="button"
        value="Generate NPC"
      )
  .list-container
    ul.btn-list
      li
        input.btn(
          type="button"
          value="Activity"
        )
      li
        input.btn.btn--selected(
          type="button"
          value="Disposition"
        )
    